.Components {
  height: 650px;
  width: 800px;
  margin: 15px;
  text-align: center;
  display: grid;
  grid-template-rows: repeat(4, 260px);
  grid-template-columns: repeat(4, 260px);
  /* flex-direction: row-reverse; */
}

.analysis {
  height: 250px;
  width: 200px;
  background-color: rgb(178, 178, 216);
  grid-row: 1;
  grid-column: 4;
}

.rating {
  height: 250px;
  width: 200px;
  background-color: rgb(241, 199, 220);
  grid-row: 1;
  grid-column: 3;
}

.review {
  height: 250px;
  width: 200px;
  background-color: rgb(250, 206, 214);
  grid-row: 1;
  grid-column: 2;
}

.sidebar {
  height: 515px;
  width: 200px;
  background-color: rgb(233, 215, 233);
  grid-row: 1;
  grid-column: 1;
}
h4 {
  padding: 4px;
  font-size: 14px;
  font-weight: 100;
}

.list {
  text-align: center;
  margin: 90px auto;
}

.visitors {
  height: 250px;
  width: 722px;
  background-color: rgb(230, 186, 161);
  grid-row: 2;
  grid-column: 2/4;
}
.filler {
  height: 100px;
  width: 600px;
  /* display: flex;
  justify-content: center; */
  margin: auto;
  background-color: rgb(245, 241, 217);
}
